/*
    Document   : vindinium.css
    Created on : 2015-05-26 04:34 PM
    Author     : fatsaretheenemy
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}